<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Pages', admin_pages_path -%></span>
  <h2 class="pageHeading">Edit Page</h2>
  <div id='editPageForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>