<div style = "padding:10px 0px 0px 50px">
  <h4>Hi {{ user.login | html_escape }}</h4>

  <div  style = "padding:10px 0px">
    Your account has been activated.  Welcome to {{ store.display_name | html_escape }}
  </div>

  <div style = "padding:10px 0px">
    <p>Visit this url to login to your account:</p>
    <p><a href = "{{ url }}" title = "click here to login">{{ url }}</a></p>
    <p style = "padding: 10px 0px;">Thanks for activating Your account</p>
  </div>
  <div  style = "padding:10px 0px; font-size:16px;font-weight:lighter;">
    Admin<br/>
    http://www.{{ store.domain | html_escape }}<br/>
    {{ store.email | html_escape }}
  </div>
</div>