<% div_for comment do %>
   <span class = "commentAuthor"><%= link_to_unless comment.author_url.blank?, h(comment.author), comment.author_url -%></span> said
   <span class = "commentDate"><%=   time_ago_in_words(comment.created_at).gsub('about', '') + ' ago' -%></span>
   <div class = "commentDescription"><%= simple_format(sanitize(comment.description, :tags => %w(p div br))) -%></div>
<% end %>
