<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Brands', admin_brands_path -%></span>
  <h2 class="pageHeading">Edit Brand</h2>
  <div id='editBrandForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>