*{ margin:0; padding:0; font-weight:inherit; font-style:inherit; font-family:inherit; vertical-align:baseline; }
html { overflow-y: scroll; /* To prevent 'popping' */}
ul, ol {  list-style-image:none; list-style-position:outside; list-style-type:none;}
body { font-family: 'Trebuchet MS', sans-serif;}
a img {	border: none; }
a, a:active, a:hover, a:visited { text-decoration:none; color: #1382B9; }
body#body {font-size: 85%; background-color: #eee}
#body #wrapper { margin:0px auto; width:75%; background-color: #fff; border:1px solid #DDDDDD; }

/* header */
#header, #headerInner { clear:both; overflow:hidden; }
#header { padding:10px 0px; }
#headerInner { padding:0px 10px; margin-bottom:10px; }
#headerInner .right { float: right; }
#headerInner .left { float: left; }
#headerInner .topNav { padding-bottom: 20px; font-weight: bold; overflow:hidden;}
#headerInner .topNav ul li { float:right; margin:2px; padding:0px 10px; border-right:1px solid #3A2012}
#headerInner .topNav ul li.last { border: none }
#headerInner .logo h1 { font-size: 4em; }
#headerInner .logo h1 a { color:#999 }
#header .navigationBar{ overflow:hidden; padding:5px 10px;}
#header .navigationBar { clear:both; background: #858484 url(/images/bgNavigation.png); font-size:1.2em; font-weight:bold}
#header .navigationBar li { float:left; padding:5px 15px; border-right:1px solid #555555;}
#header .navigationBar li.active { }
#header .navigationBar li.inactive a { color: #eee }
#searchBox .searchField, #searchBox .searchButton { border:1px solid #333333; font-size:1.5em; }
#searchBox .searchField { padding:2px 5px }
#searchBox .searchButton { padding: 1px 5px; }

#footer { clear:both; background:#464646 none repeat scroll 0% 0%; border-top:1px solid #323232; color:#999999; font-size:85%; margin:20px 0pt 0pt; padding:10px 0pt; text-align:center; }

#container { padding: 20px 10px; overflow: hidden; }
#container #leftColumn { width: 23%; float:left;}
#container #rightColumn { padding-bottom:20px; width: 75%; float:right; border:1px solid #444444; border: 1px solid; -moz-border-radius: 5px }

#new_order h2 { font-size: 16px; font-weight: bold; padding-bottom: 15px;}
.formRow { padding: 5px 0px; }
.formRow label { float:left; width: 80px; }
.formRow input.formField, .formRow textarea.formField, .formRow select.formField { border: 1px solid #666; padding: 2px 5px; }
.formRow .fieldWidth { width: 200px; }
.formRow .fieldHeight { height: 30px; }
.formRow select.fieldWidth { width: 212px; padding:2px 0 2px 5px;}
.addressess, .paymentDetail, .shippingDetail{ padding: 10px; overflow: hidden; }
.paymentDetail .formRow label, .shippingDetail .formRow label { width:150px; }
.paymentDetail .formRow select.monthSelect { width: 127px; float: left; margin-right: 5px; }
.paymentDetail .formRow select.yearSelect { width: 80px}
.address { width: 49%; padding-top: 10px; }
.address input { border: 1px solid #666 }
.address .addressForm { padding-top: 10px; }
.address .billingAddressForm { padding-top: 30px; }
#billingAddress { float:left; }
#shippingAddress { float:right; }
.confirmOrder { margin: 25px 0px 0px 80px; }

/* products listing */
.filterForm { float: left; padding-left:15px;}
.filterForm select { border: 1px solid #333; padding:2px 5px;}
#rightColumn #products, #rightColumn #categories, #rightColumn #brands { overflow:hidden; clear:both; padding: 10px 0px 0px 5px; }
#rightColumn .product, #rightColumn .category, #rightColumn .brand {height:275px; float:left; margin: 10px 0px; text-align:center; width: 163px; padding:0px 9px; }
#rightColumn h1 { border-bottom:1px solid #333; background:#858484 url(/images/bgNavigation.png); color:#FFFFFF; font-size:2em; padding:3px 15px;}
#productsBox, #brandsBox, #categoriesBox { padding:10px 10px 10px 0px; overflow: hidden; }
.product .productImage, .category .categoryImage, .brand .brandImage { border: 1px solid #aaa; height:160px; width:160px; margin:0px auto;}
.product .productName, .category .categoryTitle, .brand .brandName { font-weight:bold; padding:5px 0px;}
.product .productName a, .category .categoryTitle a, .brand .brandName a { text-decoration:underline; }
.product .productOriginalPrice, .product .productOurPrice, .product .productSavedPrice { padding:1px 0px; font-weight:700; color: #555 }
.product .productOriginalPrice {  }
.product .productOurPrice { color: #C00 }
.product .productSavedPrice {  }
.category .categoryDesc, .brand .brandDesc{ padding:5px 0px; text-align: justify;}
#category, #brand { overflow:hidden;}
#category #categoryDetail, #brand #brandDetail { padding: 10px 15px;}
#category #categoryImage, #category #categoryDesc, #brand #categorybrand, #brand #brandDesc { padding: 10px 0px;}

#product { padding: 10px; overflow:hidden; }
#productMainImage img, .productOtherImage img { border:1px solid #CCCCCC; padding:2px;}
#product #productLeft { float:left; width:40%;}
#product .productDescription { padding: 10px 0px;}
#productLeft .productOtherImages { padding: 20px 0px; overflow: hidden;}
.productOtherImages h3 { padding-bottom:10px; overflow:hidden; }
#product #productRight { width:56%; float: right; padding: 0px 10px;}
#product h2.productName { font-size: 20px; padding-bottom: 10px;}
#product #productOtherImages .productOtherImage { float:left; padding:5px; }
.productPriceContainer { padding: 10px 0px; font-size:1.2em; font-weight:bold;}
.productPriceContainer .productOurPrice, .productPriceContainer .productOriginalPrice, .productPriceContainer .productSavedPrice { padding: 2px 0px; overflow:hidden;}
.productOurPrice .title, .productOriginalPrice .title, .productSavedPrice .title { width: 120px;float:left; margin-right: 10px;}
.productSelectOptions input, .productSelectOptions select { border: 1px solid #ccc; padding: 2px 0px 2px 5px; }
select.productOptionSelectBox { width: 150px; margin: 2px 0px;}
.attributeName { width: 100px; font-weight: bold; float:left;}
.productOptionSelectBoxContainer{ }
.productSelectOptions { padding: 10px 0px !important;}
.addToCartButtonContainer { margin: 20px 0px 0px 100px;}
.qtyField { width: 50px; border: 1px solid #ccc; padding: 2px 5px; }

.shoppingCart { padding: 10px;}
.shoppingCart #cartItems { }
#cartItems .listHeading { font-weight: bold; line-height:20px; vertical-align:middle; background-color: #ddd }
#cartItems .listHeading{ border:1px solid #ccc;}
#cartItems .cartItem { border-bottom:1px solid #ddd;}
#cartItems .listHeading, #cartItems .cartItem { overflow: hidden; padding:5px; text-align:center; border-bottom:1px solid #ddd;}
#cartItems .listHeading .itemImage, #cartItems .cartItem .itemImage { float:left; width: 12%;}
#cartItems .listHeading .descriptionItem, #cartItems .cartItem .descriptionItem  { float:left; width: 40%; text-align:left;}
#cartItems .listHeading .qtyItem, #cartItems .cartItem .qtyItem { float:left; width: 10%;}
#cartItems .listHeading .priceEachItem, #cartItems .cartItem .priceEachItem { float:left; width: 12%; }
#cartItems .listHeading .priceTotalItem, #cartItems .cartItem .priceTotalItem { float:left; width: 12%; }
#cartItems .listHeading .removeItem, #cartItems .cartItem .actions { float:left; width: 14%; }
.updateCartItem, .deleteCartItem { float:right; overflow:hidden; display:block; margin-bottom:10px; width:55px; padding:1px !important;}
.descriptionItem .heading { font-weight: bold; padding-bottom:5px; }
.qtyTextField { border:1px solid #555; width: 40px; padding: 2px;}
.submitButton, .linkButton { cursor:pointer; font-weight:bold; border-width:1px; border-style:solid; border-color: #ddd #999 #999 #ddd; padding: 5px 10px; background-color: #F5F5F5;}
.submitButton:hover, .linkButton:hover { border-color: #F09B35; background-color: #ddd;}
.buttons{ padding: 10px 0px; text-align:right;}
.updateButton { padding:3px 10px; color:#1382B9; }
.progressIndicator { width:20px; height:20px; float:right; margin-right: 10px;}


/*  sidebar */
.navSection { border: 1px solid #333; -moz-border-radius: 5px; margin-bottom:20px;}
.navSection h1.navSectionTitle { border-bottom:1px solid #333; background:#858484 url(/images/bgNavigation.png); color:#FFF; font-size:1.4em; font-weight:bold; padding:5px 15px; }
.navSection ul.navSectionDesc { padding: 0px 10px 0px 15px;}
ul.navSectionDesc li { padding: 5px 0px; font-size:1.2em; font-weight:bolder;}

/* PAGINATION STYLE START (FROM WILLPAGINATE PLUGIN)*/
.pageLoadingIndicator { float:right; margin:5px 10px 0px 0px;}
.pagination { float:right;}
.pagination a, .pagination span { padding: .25em; display: block; float: left; margin-right: 3px; }
.pagination span.disabled { color: #999; border: 1px solid #DDD; } 
.pagination span.current { background: #2E6AB1; color: white; border: 1px solid #2E6AB1; }
.pagination a { text-decoration: none; color: #105CB6; border: 1px solid #9AAFE5; }
.pagination a:hover, .pagination a:focus { color: #003; border-color: #003; }
.pagination .page_info { background: #2E6AB1; color: white; padding: .4em .6em; width: 22em; margin-bottom: .3em; text-align: center; }
.pagination .page_info b { color: #003; background: #6aa6ed; padding: .1em .25em; }
.pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .pagination { height: 1%; }
*:first-child+html .pagination { overflow: hidden; }
/* PAGINATION STYLE START */

#errorExplanation { color: #000; width: 500px; margin: 20px 0px; overflow: hidden; line-height: 20px; border: 1px solid #bbb; }
#errorExplanation h2 { color: #fff; padding: 5px; font-size: 14px; font-weight: normal; background-color: #CC0000; border-bottom: 1px solid #bbb; font-weight: bold; }
#errorExplanation p { padding: 5px; font-size: 14px; margin-top: 10px; }
#errorExplanation ul li { width: 100%; font-size: 12px; list-style: square; margin: 2px 10px 2px 30px; background: none !important; padding-left: 0; }
.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select  { padding: 2px; border: 3px solid red !important; }