<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Orders', [:admin, Order.new] -%></span>
  <h2 class="pageHeading">Edit Order</h2>
  <div id='editOrderForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>