<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Brands', [:admin, Brand.new] -%></span>
  <h2 class="pageHeading">New Brand</h2>
  <div id='newBrandForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>