<div class="container post">
  <h2 class="pageHeading">New Product Attribute</h2>
  <div id='newProductAttributeForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>