<div class="container post">
  <h2 class="pageHeading">Mail Server Settings</h2>
  <div id='editMailServerSettingsForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>