<h2>2. Shipping Address</h2>
<%= check_box_tag :copy_billing_to_shipping, 1, false, {:onclick => "onCheckCopyBillingToShipping(this)" } -%> Copy Billing to Shipping
<div class = "addressForm shippingAddressForm">
  <%= render :partial => 'address_form', :locals => { :f => f, :address => @order.shipping_address } -%>
</div>