<h1>Listing orders</h1>
<table border = 1px width = 100% cellspacing=0px >
  <tr>
    <tr>
      <th>Sr. No.</th>
      <th>OrderID</th>
    </tr>
  </tr>
  <% @orders.each_with_index do |order, index| -%>
    <tr>
      <td align= "middle"><%= index + 1 -%></td>
      <td align= "middle"><%= link_to h(order.number), order -%></td>
    </tr>
  <% end -%>
</table>

<br />

<%#= link_to 'New order', new_order_path -%>
