<div id = "checkoutStepOne">
  <h1>Checkout</h1>
  <div class="shoppingCart">
    <% unless @cart.empty? -%>
      <%= render :partial => 'carts/cart' -%>
    <% end -%>
  </div>
  <%= render :partial => 'form' -%>
</div>