<div class = "listHeading">
  <div class = "itemImage">Item</div>
  <div class = "descriptionItem">description</div>
  <div class = "qtyItem">qty</div>
  <div class = "priceEachItem">each</div>
  <div class = "priceTotalItem">total</div>
  <div class = "actions">&nbsp;</div>
</div>
