<h1>Shopping Cart</h1>
<div class="shoppingCart">
  <% unless @cart.empty? -%>
    <%= render :partial => 'cart' -%>
    <div class = "buttons">
      <%= link_to 'Checkout &raquo;', current_user ? new_order_path : checkout_path , :class => "linkButton continueButton", :rel => "nofollow", :title => "Checkout" -%>
  	</div>
  <% else -%>
    <h3 class = "p10">There are no items in your shopping cart. <%= link_to "Continue Shopping", products_path -%></h3>
  <% end -%>
</div>