<h3>Hi {{ order.billing_address.full_name }}</h3>

<h4>Your order(<strong>Order ID:</strong> {{ order.order_id }}) placed at {{ order.store.domain }} have been sent for proccessing</h4><br/>


Thanks<br/>
{{ order.store.domain }}