<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Currencies', [:admin, Currency.new] -%></span>
  <h2 class="pageHeading">New Currency</h2>
  <div id='newCurrencyForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>