<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Categories', admin_categories_path -%></span>
  <h2 class="pageHeading">New Category</h2>
  <div id='newCategoryForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>