<div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Products', admin_products_path -%></span>
  <h2 class="pageHeading">New Product</h2>
  <div id='newProductForm' class="formContainer create">
    <%= render :partial => 'form' -%>
  </div>
</div>