<div class="formRow transparent image">
  <%= file_field_tag "#{prefix}[new_image_attributes][][uploaded_data]", :class => "styledFormElement fileField", :size => "31px" -%>
  <%= link_to_function "remove" , "$(this).parent().remove()" -%>
</div>