<%# brands_section do %>
  <% paginated_section @brands, :class => "pagination", :renderer => RemoteLinkRenderer do %>
    <div id = "brands">
      <%= render :partial => @brands -%>
    </div>
  <% end %>
<%# end %>