<% paginated_section @brands, :class => "pagination", :renderer => RemoteLinkRenderer do %>
  <%= render :partial => "shared/page_loading_indicator" -%>
  <div id = "brands">
    <%= render :partial => @brands -%>
  </div>
<% end %>