<%# categories_section @categories do %>
  <% paginated_section @categories, :class => "pagination", :renderer => RemoteLinkRenderer do %>
    <div id = "categories">
      <%= render :partial => @categories -%>
    </div>
  <% end %>
<%# end %>