<div id = 'category'>
  <h1><%= h @category.title.titleize %></h1>
  <div id = "categoryDetail">
    <div id = "categoryImage"><%#= image_tag(@category.main_image.public_filename(:S650x250)) -%></div>
    <div id = "categoryImage"><%= main_image(@category, :S650x250) -%></div>
    <div id = "categoryDesc"><%= @category.description -%></div>
  </div>
  <div id="productsBox">
    <%= render :partial => "products/products" if @products.size > 0 -%>
  </div>
</div>