<% products_section do %>
  <% paginated_section @products, :class => "pagination", :renderer => RemoteLinkRenderer do -%>
    <span class="pageLoadingIndicator" id = "pageLoadingIndicator" style = "display:none"><%= image_tag("/images/admin/indicator.gif", {:alt => "progressIndicator", :size => "15x15"}) -%></span>  
    <div id = "products">
      <%= render :partial => @products -%>
    </div>
  <% end %>
<% end %>