<% products_section do %>
  <% paginated_section @products, :class => "pagination", :renderer => RemoteLinkRenderer do -%>
    <%= render :partial => "shared/page_loading_indicator" -%>    
    <div id = "products">
      <%= render :partial => @products -%>
    </div>
  <% end %>
<% end %>